{% extends 'master.html' %}
{% load static %}
{% block contenido %}
<div class="alert alert-primary text-center mt-3 p-3">
    <h2>{{ titulo }}</h2>
</div>
<div class="container">
    <form class="card" method="post" onsubmit="">
        {% csrf_token %}
        <div class="card-body">
            {{ formulario }}
        </div>
        <div class="card-footer text-center">
            <button class="form-btn form-submit text-white" type="submit">
                <i class="fa-solid fa-floppy-disk"></i>
                <span>Guardar</span>
            </button>
            <button class="form-btn form-clean text-white" type="reset">
                <i class="fa-solid fa-eraser"></i>
                <span>Limpiar</span>
            </button>
        </div>
    </form>
</div>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const letrasConTildesRegex = /[^a-zA-ZáéíóúÁÉÍÓÚñÑ\s]/g;
        // En caso de que se deba dejar un campo sin esta restricción
        // se puede cambiar form-control por otro selector
        // o agregar una clase específica a los inputs que no deben tenerla.
        document.querySelectorAll('input.form-control[type="text"]').forEach(input => {
            input.addEventListener('input', function () {
                this.value = this.value.replace(letrasConTildesRegex, '');
            });
        });

        const telefono = document.getElementById('id_telefono');
        if (telefono) {
            telefono.addEventListener('input', function () {
                this.value = this.value.replace(/\D/g, '');
            });
        }
    });
</script>
{% if messages %}
{% for msj in messages %}
<script>
    Swal.fire('{{ msj }}', '', 'success').then((result) => {
        window.location.href = "{{ ruta }}"
    });
</script>
{% endfor %}
{% endif %}
{% endblock contenido %}