{% load static %}
<header>
    <nav class="navbar navbar-dark fixed-top bg-dark p-3">
        <div class="container-fluid px-3 d-flex align-items-center">
            <!-- Logo y menú -->
            <div class="d-flex align-items-center gap-4">
                <div class="logo">
                    <a class="navbar-brand" href="{% url 'inicio' %}">
                        <i class="fa-solid fa-shirt"></i>
                        Confecciones Leonor
                    </a>
                </div>
                <ul class="nav nav-underline">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" id="dropdownInventario" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-boxes"></i> Inventario
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownInventario">
                            <li>
                                <a class="dropdown-item" href="{% url 'listar_vestimentas' %}">
                                    <i class="fa-solid fa-shirt"></i>
                                    Vestimentas
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="#">Opción 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" id="dropdownListas" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-list"></i> Listas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <a class="dropdown-item" href="{% url 'listar_clientes' %}">
                                    <i class="fa-solid fa-users"></i>
                                    Clientes
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'listar_tipo_pagos' %}">
                                    <i class="fa-solid fa-credit-card"></i>
                                    Tipos de pago
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Menú de usuario a la derecha -->
            <ul class="nav nav-underline ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white user-dropdown" href="#" id="dropdownUser"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i> Usuario
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                        <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
